.jobs{
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 70% auto;
    padding: 2rem;
    margin-top: 100px;
    column-gap: 1rem;
   
}



.left{
    background-color: white;
    padding: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    order: 1;
}


.left h4{
    font-weight: bold;
}

.right{
   
   padding: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    order: 2;
}


.JobList h5{

    font-weight: bold;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    margin-bottom: 2rem;
}


.pagination button{
    background-color: #151f63;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}



.Salary{

    width: 100%;
    margin: auto;
    padding: 2rem;
}


.salary_search{
    display: flex;
   margin: auto;
    width: 70%;
  }

.salary_search input{
  width: 100%;
  padding: .8rem 1rem;
  outline: none;
 border: 1px solid #ddd;
  border-right: none;
  border-radius: 10px 0 0 10px;

}

.salary_search button{
    background-color: #151f63;
    padding: 10px 20px;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}


.salary_card_div{
    display: grid;
   padding: 2rem 2rem;
    grid-template-columns:auto auto auto;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto;
    
}


.salary_card{
    background-color: #FDFCFA;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.salary_card h5{
    font-weight: 600;
    color: #151f63;
}



.salary_component{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}



/* job details */


.jobDetails{
    width: 100%;
    margin: auto;
    padding: 2rem;
}


.jobDetails button{
    background-color: #151f63;
    padding: 5px 20px;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}


@media (max-width:750px){
    .jobs{
        grid-template-columns:100%;
        padding: 1rem;
    }

    .left{
        order: 2;
        padding: 0;
    }
    .right{
        order: 1;
        padding:0;
    }

    .salary_search{
        width: 90%;
}

.salary_card_div{
    grid-template-columns: auto;
}
}