
.title{
    width: 100%;
   margin-bottom: 4rem;
}

.title h3{
    text-align: center;
   font-weight: 700;
   font-size: 40px;
}


.image_wrap{
  
    margin: 8px 30px;
}

.image_wrap img{
width: 100%;
}


.marquee{
    border: 1px solid #eee;
    padding: 40px 0;
    
}


.signup{
    margin: 2rem auto;
    text-align: center;
    background-color: #151f63;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 80px;
   width: 150px;
   font-size: 20px;
  
}


.marquee-section{
    width: 100%;
}


@media (max-width:750px){
    .marquee{
        padding: 20px;
    }

    .image_wrap{
  
        margin: 8px 20px;
    }

    .title h3{
       
      
       font-size: 30px;
    }

    .signup{
        width: 100px;
        font-size: 14px;
    }
}